
.root {
    height: 100vh;
    width: 100vw;
}

.fullPage {
    height: 100vh;
    width: 100vw;
	padding: 0px !important;
	margin: 0px !important;

}

.formButtons {
  display: flex;
  justify-content: center;

}
.formButtonRight {
	margin-left: 1em !important;

}

.ui.button.disabled.pointer-events-enabled {
  pointer-events: auto !important;
}